# Fight Churn with Data

> using Python to explore the mocking data in PostgresSQL

In [2]:
import sqlalchemy
import pandas as pd

In [7]:
# Make a sql connection with sqlalchmey
db_service = "postgres-db"
churn_db = "churn"
churn_db_user = "postgres"
churn_db_pass = "password"

conn_string = f"postgresql://{db_service}/{churn_db}?user={churn_db_user}&password={churn_db_pass}" 

engine = sqlalchemy.create_engine(conn_string)
engine

Engine(postgresql://postgres-db/churn?password=password&user=postgres)

In [8]:
conn = engine.connect()
conn

In [10]:
# list all tables
df = pd.read_sql_query(
    "SELECT * FROM information_schema.tables;", conn
)
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,churn,socialnet7,event,BASE TABLE,None,None,None,None,None,YES,NO,None
1,churn,socialnet7,subscription,BASE TABLE,None,None,None,None,None,YES,NO,None
2,churn,socialnet7,event_type,BASE TABLE,None,None,None,None,None,YES,NO,None
3,churn,socialnet7,metric,BASE TABLE,None,None,None,None,None,YES,NO,None
4,churn,socialnet7,metric_name,BASE TABLE,None,None,None,None,None,YES,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
198,churn,information_schema,foreign_server_options,VIEW,None,None,None,None,None,NO,NO,None
199,churn,information_schema,foreign_servers,VIEW,None,None,None,None,None,NO,NO,None
200,churn,information_schema,_pg_foreign_tables,VIEW,None,None,None,None,None,NO,NO,None
201,churn,information_schema,user_mappings,VIEW,None,None,None,None,None,NO,NO,None
202,churn,information_schema,foreign_table_options,VIEW,None,None,None,None,None,NO,NO,None