# 07 Segmenting customers with advanced metrics

In [2]:
import sqlalchemy
import pandas as pd

# Make a sql connection with sqlalchmey
conn_string = "postgresql://postgres-db/churn?user=postgres&password=password" 
engine = sqlalchemy.create_engine(conn_string)
conn = engine.connect()

# Query with Pandas, e.g. list all tables
df = pd.read_sql_query("SELECT * FROM information_schema.tables;", conn)
df.head()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,churn,socialnet7,event,BASE TABLE,None,None,None,None,None,YES,NO,None
1,churn,socialnet7,subscription,BASE TABLE,None,None,None,None,None,YES,NO,None
2,churn,socialnet7,event_type,BASE TABLE,None,None,None,None,None,YES,NO,None
3,churn,socialnet7,metric,BASE TABLE,None,None,None,None,None,YES,NO,None
4,churn,socialnet7,metric_name,BASE TABLE,None,None,None,None,None,YES,NO,None